{% extends "base.html" %}
{% block title %} Alta Talleres  {% endblock title%}

  {% block content %}
        <!-- Container (The Alta Section) -->
        <div id="alta" class="container text-center">
        <h1>New post</h1>
        <form method="POST" class="post-form">{% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="save btn btn-default">Save</button>
      </form>
    </div> 
<!-- 
    
      <h3> Alta talleres </h3>
      <form class="form-signin" action="/taller/crear" method="post">{% csrf_token %}
      Nombre: <input class="form-control" id="nombreT" name="nombreT" placeholder="" type="text">
      Descript: <input class="form-control" id="descrip" name="descrip" placeholder="" type="text">

      nivel: <input class="form-control" id="nivel" name="nivel" placeholder="" type="text">

      curso: <input class="form-control" id="curso" name="curso" placeholder="" type="number">
      maxAlum: <input class="form-control" id="maxAlum" name="maxAlum" placeholder="" type="number">
      duracion:<input class="form-control" id="duracion" name="duracion" placeholder="" type="number">
      jornada:<input class="form-control" id="jornada" name="jornada" placeholder="" type="number">
      excede:<input class="form-control" id="excede" name="excede" placeholder="" type="number">
      depart: 
      <select>
      {% for depart in depart_list %}
       <option value="{{ depart.idDepart }}"> {{ depart.nombre }}</option>
      {% endfor %}
    </select>
    <br>
     foto: <input class="form-control" id="foto" name="foto" placeholder="" type="file">
    
    <button class="btn btn-lg btn-primary btn-block" type="submit">Crear</button>
    </form>
-->
    {% endblock content %}
