<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Talleres</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <link rel="stylesheet" href="{% static 'talleres/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'talleres/principal.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>  -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
  {% load staticfiles %}
<script src="{% static "talleres/js/jquery-3.2.1.min.js" %}"></script>
<script src="{% static "talleres/js/bootstrap.min.js" %}"></script>
 <!-- <script src="jq/jquery-3.2.1.min.js"></script> -->
 <!--  <script src="js/bootstrap.min.js"></script> -->
  <style>
  
  </style>
</head>

 
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
          <a class="navbar-brand" href="#myPage">Logo</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#myPage">HOME</a></li>
            <li><a href="#band">BAND</a></li>
            <li><a href="#tour">TOUR</a></li>
            <li><a href="#contact">CONTACT</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">MORE
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Merchandise</a></li>
                <li><a href="#">Extras</a></li>
                <li><a href="#">Media</a></li> 
              </ul>
            </li>
            <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
          </ul>
        </div>
      </div>
    </nav>
        <!-- Container (The Alta Section) -->
    <div id="band" class="container text-center">
      <h3> Alta talleres </h3>
      <form class="form-signin" action="/taller/crear" method="post">{% csrf_token %}
      Descript: <input class="form-control" id="descrip" name="descrip" placeholder="" type="text">
      nivel: <input class="form-control" id="nivel" name="nivel" placeholder="" type="text">
      curso: <input class="form-control" id="curso" name="curso" placeholder="" type="number">
      maxAlum: <input class="form-control" id="maxAlum" name="maxAlum" placeholder="" type="number">
      duracion:<input class="form-control" id="duracion" name="duracion" placeholder="" type="number">
      jornada:<input class="form-control" id="jornada" name="jornada" placeholder="" type="number">
      excede:<input class="form-control" id="excede" name="excede" placeholder="" type="number">
      depart: 
      <select>
      {% for depart in depart_list %}
       <option value="{{ depart.idDepart }}"> {{ depart.nombre }}</option>
      {% endfor %}
    </select>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Crear</button>
    </form>

      
    </div>

        
    <!-- Footer -->
    <footer class="text-center">
      <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
        <span class="glyphicon glyphicon-chevron-up"></span>
      </a><br><br>
      <p>Bootstrap Theme Made By <a href="https://www.w3schools.com" data-toggle="tooltip" title="Visit w3schools">www.w3schools.com</a></p> 
    </footer>
            
    </body>
    </html>
