{% extends "base.html" %}
{% block title %} Error Login  {% endblock title%}

  {% block content %}
    <div id="hueco" style="height: 50px;">
  </div>
        <!-- Container (The Clear Section) -->
        <div id="error" class="container text-center">
        
        <p>NO estas Logeado !!</p>
        <div class="row">
        <div class="col-md-6 well well-xs ">
        <p><a href="/access/" class="btn ui-btn-inline"><span class="glyphicon glyphicon-log-in"></span>&nbsp;Logearse</a></p>
        </div>       
        </div>
        </div> 
    
    {% endblock content %}