{% extends "base.html" %}

{% block title %} Bootstrap Talleres  {% endblock title%}

  {% block content %}

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
    
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src= "../static/talleres/images/220px-Origami_Grulla.jpg" alt="Grulla" width="400" height="100">
            <div class="carousel-caption">
              <h3>Origami</h3>
              <p>EL Origami es artesania ancestral.</p>
            </div>      
          </div>
    
          <div class="item">
            <img src="../static/talleres/images/futbol_220.jpg" alt="Futbol" width="400" height="100">
            <div class="carousel-caption">
              <h3>Futbol</h3>
              <p>Gracias, por jugar deportivamente.</p>
            </div>      
          </div>
        
          <div class="item">
            <img src="../static/talleres/images/robot_220.jpg" alt="Robot" width="400" height="100">
            <div class="carousel-caption">
              <h3>Robotica</h3>
              <p>La Robotica será la ciencia del Futuro </p>
            </div>      
          </div>
        </div>
    
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
    </div>

    <!-- Container (The Band Section) -->
    <div id="band" class="container text-center">
      <h3>BIENVENIDOS</h3>
      <p><em>We love WORKING!</em></p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <br>
      <a href="/listar/">Ver todos los Talleres </a>
      <br>
      <div class="row">
        <div class="col-sm-4">
          <p class="text-center"><strong>Origami</strong></p><br>
          <a href="#demo" data-toggle="collapse">
            <img src="../static/talleres/images/220px-Origami_Grulla.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
          </a>
          <div id="demo" class="collapse">
            <p>Cisne</p>
            <p>Papel</p>
            <p>Tecnica Sencilla</p>
          </div>
        </div>
        <div class="col-sm-4">
          <p class="text-center"><strong>Robotica</strong></p><br>
          <a href="#demo2" data-toggle="collapse">
            <img src="../static/talleres/images/robot_220.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
          </a>
          <div id="demo2" class="collapse">
            <p>Robot</p>
            <p>Automata</p>
            <p>Lego</p>
          </div>
        </div>
        <div class="col-sm-4">
          <p class="text-center"><strong>Campeonato</strong></p><br>
          <a href="#demo3" data-toggle="collapse">
            <img src="../static/talleres/images/futbol_220.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
          </a>
          <div id="demo3" class="collapse">
            <p>Futbol</p>
            <p>Futbol 7</p>
            <p>Eliminatoria</p>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Container (Talleres Section) -->
    <div id="tour" class="bg-1">
      <div class="container">
        <h3 class="text-center">PROXIMOS TALLERES</h3>
        <p class="text-center">Lorem ipsum we'll play you some music.<br> Recuerda Inscribirte pronto!</p>
        <ul class="list-group">
          <li class="list-group-item">Origami <span class="label label-danger">Completo!</span></li>
          <li class="list-group-item">Robotica <span class="label label-success">Abierto!</span></li> 
          <li class="list-group-item">Campeonato <span class="badge">2 Equipos</span></li> 
        </ul>
        
        <div class="row text-center">
          <div class="col-sm-4">
            <div class="thumbnail">
              <img src="../static/talleres/images/220px-Origami_Grulla.jpg" alt="Paris" width="400" height="300">
              <p><strong>Origami</strong></p>
              <p>Friday 27 November 2018</p>
              <button class="btn" data-toggle="modal" data-target="#myModal">Logeate</button>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="thumbnail">
              <img src="../static/talleres/images/futbol_220.jpg" alt="New York" width="400" height="300">
              <p><strong>Campeonato Futbol</strong></p>
              <p>Saturday 28 November 2018</p>
              <button class="btn" data-toggle="modal" data-target="#myModal">Logeate</button>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="thumbnail">
              <img src="../static/talleres/images/robot_220.jpg" alt="San Francisco" width="400" height="300">
              <p><strong>Robotica</strong></p>
              <p>Sunday 29 November 2018</p>
              <button class="btn" data-toggle="modal" data-target="#myModal">Logeate</button>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

          
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">×</button>
              <h4><span class="glyphicon glyphicon-lock"></span> Inscripcion</h4>
            </div>
            <div class="modal-body">
              <form role="form" action="{% url 'homepage' %}" method="post">
                {% csrf_token %}    
                 <div class="form-group">
                  <label for="usrname"><span class="glyphicon glyphicon-user"></span> Dni</label>
                  <input class="form-control" id="dni" name="dni" placeholder="Dni" type="text" required>
                </div>
                <div class="form-group">
                  <label for="psw"><span class="glyphicon glyphicon-shopping-cart"></span> Contraseña</label>
                  <input class="form-control" id="pass" name="pass" placeholder="Pass" type="password" required>
                </div>
               
                 <input class="btn pull-right" type="submit" value="Accede">

                    <!--         
                  <button type="submit" class="btn btn-block">Acceder 
                    <span class="glyphicon glyphicon-ok"></span>
                  </button> -->
              </form>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal">
                <span class="glyphicon glyphicon-remove"></span> Cancelar
              </button>
              <p>Ayuda <a href="#">Ayuda?</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>    
    {% endblock content %}
   
    {% block scriptfiles %}
    <script>
    $(document).ready(function(){
      // Initialize Tooltip
      $('[data-toggle="tooltip"]').tooltip(); 
      
      // Add smooth scrolling to all links in navbar + footer link
      $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
    
        // Make sure this.hash has a value before overriding default behavior
        if (this.hash !== "") {
    
          // Prevent default anchor click behavior
          event.preventDefault();
    
          // Store hash
          var hash = this.hash;
    
          // Using jQuery's animate() method to add smooth page scroll
          // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
          $('html, body').animate({
            scrollTop: $(hash).offset().top
          }, 900, function(){
       
            // Add hash (#) to URL when done scrolling (default click behavior)
            window.location.hash = hash;
          });
        } // End if
      });
    })
    </script>
    {% endblock scriptfiles %}
     
    
