{% extends "base.html" %}
{% block title %} Lista Talleres  {% endblock title%}

  {% block content %}
    
      
    <!-- Container (The Lsta Section) -->
    <div id="lista" class="container text-center">
      <h3> Lista talleres </h3>

      <div>
        <ul>
         <!--  <li><a href="#myPage">HOME</a></li> -->
         {% for taller in talleres_list %}
            <li><a href="/taller/mostrar/{{ taller.Numero }}"> {{ taller.NombreTaller }}</a></li>
         {% endfor %}
       </ul>
      </div>
      
      
    </div>

    {% endblock content %}
