{% extends "base.html" %}
{% block title %} Localizacion  {% endblock title%}

  {% block content %}
  
  <div id="myPage" class="container-fluid">
      <div id="hueco" style="height: 50px;"> </div>
    <section class="row">
      <article id="Localizaci" class="container text-center">
                    <h3>LOCALIZACI&Oacute;N CENTRO</h3>
                    <p><em>Estamos Aqui !</em></p>
                    <p>Kale courgette salsify mustard broccoli seakale wakame potato fava bean tigernut leek celery spinach avocado cabbage celtuce rutabaga kohlrabi. Parsnip pea soko groundnut bitterleaf spring onion. Grape dulse rutabaga lentil gram kakadu plum water spinach cabbage lotus root.</p>
      </article>
      <aside class="col-md-6 col-sm-6 col-xs-6 text-center">
        <h2>Localizaci&oacute;n</h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3078.858571467867!2d-0.4732408848299648!3d39.49510801909529!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd605a9838ec8b9d%3A0xdcfeafeb8fa4e851!2sIES+Jos%C3%A9+Rodrigo+Botet!5e0!3m2!1ses!2ses!4v1519237596842" width="500" height="400" frameborder="0" style="border:0" ></iframe>

      </aside>
      <aside class="col-md-6 col-sm-6 col-xs-6 text-center">
               <h2>Foto Centro</h2>
               <img src="../static/talleres/images/insti.jpg" alt="Robot" width="400" height="300">
      </aside>
    </section>
</div>

  {% endblock content %}