{% extends "base.html" %}
{% block title %} Login Talleres  {% endblock title%}

  {% block content %}
    
      
    <!-- Container (The Alta Section) -->
    <div id="band" class="container text-center">
      <h3> {{ taller.Descripcion }}</h3>
      <div class="col-sm-6 form-group">
        Curso: <input class="form-control" id="dni" name="dni" placeholder="{{ taller.curso }}" type="text" required>
      </div>
      <p><em>Accede!</em></p>
      <p>Kale courgette salsify mustard broccoli seakale wakame potato fava bean tigernut leek celery spinach avocado cabbage celtuce rutabaga kohlrabi. Parsnip pea soko groundnut bitterleaf spring onion. Grape dulse rutabaga lentil gram kakadu plum water spinach cabbage lotus root.</p>
      <br>

       {% if alumno%}

          {% if inscrito %}

            <form action="{% url 'inscribir' %}" method="post">
            {% csrf_token %}        
            <input type="hidden" id="idTaller" name="idTaller" value="{{ taller.Numero }}">    
            <input class="btn pull-right" type="submit" value="Dar de baja">
            </form>

          {% else %} 

          <form action="{% url 'inscribir' %}" method="post">
          {% csrf_token %}   
          <input type="hidden" id="idTaller" name="idTaller" value="{{ taller.Numero }}">
          <input class="btn pull-right" type="submit" value="Inscribirse">
          </form>

          {% endif %}

    
        {% endif %}

    </div>

        
    {% endblock content %}
