{% extends "base.html" %}
{% block title %} Alta Talleres  {% endblock title%}

  {% block content %}
    <div id="hueco" style="height: 50px;">
  </div>
        <!-- Container (The Clear Section) -->
        <div id="alta" class="container text-center">
        
        <p>¿Desea eliminar el taller?</p>
        <div class="row text-center">
        <div class="col-md-6 well well-xs ">
        <form method="POST" class="post-form" enctype="multipart/form-data">{% csrf_token %}
          {{ form.as_table }}          
          <button type="submit" class="save btn btn-default">Eliminar</button>
        </form>
        </div>       
        </div>
        </div> 
    
    {% endblock content %}
