<!DOCTYPE html>
<html lang="en">
  <head>
      <title>{% block title %}{% endblock title%}</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      {% load static %}
      <link rel="stylesheet" href="{% static 'talleres/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'talleres/principal.css' %}">
      <link rel="stylesheet" href="{% static 'talleres/jquery.mobile-1.4.5.min.css' %}">
      <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
      
      {% load staticfiles %}
    <script src="{% static "talleres/js/jquery-3.2.1.min.js" %}"></script>
    <script src="{% static "talleres/js/bootstrap.min.js" %}"></script>
    <script src="{% static "talleres/js/userValidation.js" %}"></script>
    <script src="{% static "talleres/js/jquery.mobile-1.4.5.min.js" %}"></script>
    <script src="{% static "talleres/js/jquery-1.11.1.min.js" %}"></script>

      <style>
      
      </style>
    </head>
  <body>

  {% include "nav.html" %}

  {% block content %}{% endblock content %}

  <!-- Footer -->
  <footer class="footer">
    <div class="row">
    <div class="container-fixed text-center col-md-6 col-md-push-3 col-xs-12">
      <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
              <span class="glyphicon glyphicon-chevron-up"></span>
            </a><br>
            <p> &copy; Quintin Macian</p>
            </div>
            <section>    
    <div class="col-md-3 col-md-pull-6 col-xs-6">
        <p><a href="/inicio/" class=" btn pull-left ui-btn-inline"><span class="glyphicon glyphicon-log-in"></span>&nbsp;Inicio</a></p>
    {% if user.username %}
    <div><p class="navbar-text navbar-left"></p></div>
    </div>
  </section>
    <div class="col-md-3 col-xs-6">
       <a href="/logout/" class="btn pull-right">Log Out <span class="glyphicon glyphicon-log-out"></span></a>
      <!-- </form> -->
      </div>
    {% endif %}

  </div>

  </footer>

 {% block extrafooter %}{% endblock extrafooter %}
 
  </body>

  {% block scriptfiles %}{% endblock scriptfiles %}
  

</html>